<div class="mr-2 ml-2">
    <h1 class="txt-title">Gesture Tutorial Using Hammer</h1>
    <div class="slider-section" (swipeleft)="onSwipeLeft($event,-1)" (swiperight)="onSwipeRight($event,1)">
        <div class="slider" *ngIf="slides == -1">
            <div class="group-img">
                <img class="img" src="../../assets/images/person-7.jpg">
                <div class="group-text">
                    <h3 class="txt-name">Person 7</h3>
                    <h5 class="txt-job">UI / UX Designer</h5>
                    <hr>
                </div>
            </div>
        </div>
        <div class="slider"  *ngIf="slides == 0">
            <div class="group-img">
                <img class="img" src="../../assets/images/person-1.jpg">
                <div class="group-text">
                    <h3 class="txt-name">Tawarkal Leo</h3>
                    <h5 class="txt-job">UI / UX Designer</h5>
                    <hr>
                </div>
            </div>
            <div class="group-img">
                <img class="img" src="../../assets/images/person-2.jpg">
                <div class="group-text">
                    <h3 class="txt-name">Nerdy Noman</h3>
                    <h5 class="txt-job">Development</h5>
                    <hr>
                </div>

            </div>
            <div class="group-img">
                <img class="img" src="../../assets/images/person-3.jpg">
                <div class="group-text">
                    <h3 class="txt-name">Rohan Nen</h3>
                    <h5 class="txt-job">Sales & Marketing</h5>
                    <hr>
                </div>
            </div>
        </div>
        <div class="slider"  *ngIf="slides == 1"> 
            <div class="group-img">
                <img class="img" src="../../assets/images/person-4.jpg">
                <div class="group-text">
                    <h3 class="txt-name">Normania 1</h3>
                    <h5 class="txt-job">UI / UX Designer</h5>
                    <hr>
                </div>
            </div>

            <div class="group-img">
                <img class="img" src="../../assets/images/person-5.jpg">
                <div class="group-text">
                    <h3 class="txt-name">Normania 2</h3>
                    <h5 class="txt-job">UI / UX Designer</h5>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>